[user]
	name = nmaximo7
	email = nmaximo7@gmail.com
[core]
	editor = nvim
	excludesFile = /Users/nmaximo7/.gitignore_global
[credential]
	helper = osxkeychain
[pull]
	rebase = true
[push]
	autoSetupRemote = true
